<h2 class="testimonial"><span class="color-white">"LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT, SED DO EIUSMOD TEMPOR INCIDIDUNT UT LABORE ET DOLORE MAGNA ALIQUA."</span></h2>
<footer class="desktop flex space-around align-items-center footer-home">
	<div class="form-container">
		<p class="small-heading">REQUEST A QUOTE</p>
		<form
			id="contact-form"
			name="footer-contact"
			method="POST"
			netlify-honeypot="bot-field"
			data-netlify="true"
			action="thank-you"
		>
			<p><label>Name: </label> <input type="text" name="name" placeholder="Name" /></p>
			<p class="hidden">
				<label>Don’t fill this out if you're human: </label>
				<input type="text" name="bot-field" /></p>
			<p>
				<label>Email Address: </label>
				<input type="email" name="email" placeholder="Email" />
			</p>
			<p>
				<label>Phone Number: </label>
				<input type="phone" name="phone" placeholder="Phone" />
			</p>
			<p>
				<label>Questions/Comments:</label>
				<textarea name="message" placeholder="Questions/Comments"></textarea>
			</p>
			<p>
				<button type="submit"><span>Send</span></button>
			</p>
		</form>
	</div>
	<div class="footer-container">
		<a class="logo" href="{{ '/' | url }}"
			><img src="/static/img/tapestry-logo.png" alt="Tapestry Linens logo"
		/></a>
        <a class="tel" href="tel:5049155719">504-915-5719</a>
        <div class="icons flex space-between align-items-center">
        	<a class="icon" href="https://facebook.com/tapestrylinens"><img src="/static/img/TAP-FBicon-blue.svg" alt="Tapestry Linens Facebook"></a>
	        <a class="icon" href="https://instagram.com/tapestrylinens"><img src="/static/img/TAP-IGicon-blue.svg" alt="Tapestry Linens Instagram"></a>
	    	<a class="icon" href="https://www.theknot.com/marketplace/redirect-224858?utm_source=vendor_website&utm_medium=banner&utm_term=9956f65d-00c1-49c3-a14d-4107b0d75802&utm_campaign=vendor_badge_assets"><img alt="Tapestry Linens The Knot"src="/static/img/theknot-logo-blue.png"></a>
		</div>
        <p class="copyright">&copy; 2020 Tapestry Linens, LLC</p>
    </div>
</footer>