<footer>
    <div class="footer-container">
        <a class="logo" href="{{ '/' | url }}"><img src="/static/img/tapestry-logo.png" alt="Tapestry Linens logo"></a>
        <div class="icons flex space-between align-items-center">
            <a class="icon" href="https://facebook.com/tapestrylinens"><img src="/static/img/TAP-FBicon-blue.svg" alt="Tapestry Linens Facebook"></a>
            <a class="icon" href="https://instagram.com/tapestrylinens"><img src="/static/img/TAP-IGicon-blue.svg" alt="Tapestry Linens Instagram"></a>
        </div>
        <p class="copyright">&copy; 2020 Tapestry Linens, LLC</p>
    </div>
</footer>