<footer>
	<a class="logo" href="{{ '/' | url }}"><img src="/static/img/tapestry-logo.png" alt="Tapestry Linens logo"></a>
	<div class="icons">
        	<a class="icon" href="https://facebook.com/tapestrylinens"><img src="/static/img/facebook.png" alt="Tapestry Linen's Facebook"></a>
	        <a class="icon" href="https://instagram.com/tapestrylinens"><img src="/static/img/instagram.png" alt="Tapestry Linen's Instagram"></a>
	    </div>
        <p class="copyright">&copy; 2020 Tapestry Linens, LLC</p>
</footer>
