<h2 class="testimonial"><span class="color-white">"LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT, SED DO EIUSMOD TEMPOR INCIDIDUNT UT LABORE ET DOLORE MAGNA ALIQUA."</span></h2>
<footer class="flex space-around align-items-center footer-home">
	<div class="form-container">
		<p class="small-heading">Contact Us</p>
		<form
			id="contact-form"
			name="contact"
			method="POST"
			data-netlify="true"
		>
			<p><label>Name: </label> <input type="text" name="name" placeholder="Name" /></p>
			<p>
				<label>Email Address: </label>
				<input type="email" name="email" placeholder="Email" />
			</p>
			<p>
				<label>Phone Number: </label>
				<input type="phone" name="phone" placeholder="Phone" />
			</p>
			<p>
				<label>Questions/Comments:</label>
				<textarea name="message" placeholder="Questions/Comments"></textarea>
			</p>
			<p>
				<button type="submit"><span>Send</span></button>
			</p>
		</form>
	</div>
	<div class="footer-container">
		<a class="logo" href="{{ '/' | url }}"
			><img src="/static/img/tapestry-logo.png" alt="Tapestry Linens logo"
		/></a>
        <a class="tel" href="tel:5049155719">504-915-5719</a>
        <div class="icons flex space-between align-items-center">
        	<a class="icon" href="https://facebook.com/tapestrylinens"><img src="/static/img/TAP-FBicon-blue.svg" alt="Tapestry Linens Facebook"></a>
	        <a class="icon" href="https://instagram.com/tapestrylinens"><img src="/static/img/TAP-IGicon-blue.svg" alt="Tapestry Linens Instagram"></a>
	    </div>
        <p class="copyright">&copy; 2020 Tapestry Linens, LLC</p>
    </div>
</footer>