<header>
    <div class="site-social">
        <a class="tel" href="tel:5049155719">504-915-5719</a>
        <a class="icon" href="https://facebook.com/tapestrylinens"><img src="/static/img/TAP-FBicon-gray.svg" alt="Tapestry Linens Facebook"></a>
        <a class="icon" href="https://instagram.com/tapestrylinens"><img src="/static/img/TAP-IGicon-gray.svg" alt="Tapestry Linens Instagram"></a>
        <a class="icon" href="https://www.theknot.com/marketplace/redirect-224858?utm_source=vendor_website&utm_medium=banner&utm_term=9956f65d-00c1-49c3-a14d-4107b0d75802&utm_campaign=vendor_badge_assets"><img alt="Tapestry Linens The Knot"src="/static/img/theknot-logo-gray.png" width="30px" length="30px"></a>
    </div>
    <div class="site-logo">
        <a class="logo" href="{{ '/' | url }}">{% include "components/logo.svg" %}</a>
    </div>
    <div class="site-menu">
        <button class="hamburger hamburger--squeeze" aria-label="Menu" aria-controls="primary-menu" aria-expanded="false" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>
    {% include "components/nav.njk" %}
</header>