<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="Create a unique and stunning event by accessing Tapestry's distinctive tablecloths, specialty linen, centerpieces, linens, decor, and floral design rentals. Select from a constantly trending inventory of the season's hottest colors, fabrics, and styles for any occasion—from classic weddings and colorful children's birthday parties, to corporate affairs of the highest order.">"
  <title>{{ title or renderData.title or metadata.title }}</title>
  {% seo "" %}
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set css %}
    {% include "assets/css/inline.css" %}
    {% include "assets/css/tapestry.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>

</head>
