<nav id="site-navigation">
  {% set navPages = collections.all | eleventyNavigation %}
  {% macro renderNavListItem(entry) -%}
	<li{% if entry.url == page.url %} class="my-active-class"{% endif %}>
	  <a href="{{ entry.url | url }}">{{ entry.title }}</a>
	{%- if entry.children.length -%}
	  <ul class="second-level">
	    {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
	  </ul>
	{%- endif -%}
	</li>
	{%- endmacro %}

	<ul class="menu-nav">
	{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
	</ul>
</nav>
